<nz-layout class="layout">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px">
      <li nz-menu-item routerLink="/dashboard">dashboard</li>
      <li nz-menu-item routerLink="/heroes">heroes</li>
      <li nz-menu-item  routerLink="/displayData">displayData</li>
      <li nz-menu-item routerLink="/ant">ant-style</li>
    </ul>
  </nz-header>
  <nz-content style="padding: 0 50px;">
    <nz-breadcrumb style="margin: 12px 0;">
      <!--<nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
      <!--<nz-breadcrumb-item>Home2</nz-breadcrumb-item>-->
      <!--<nz-breadcrumb-item>Home3</nz-breadcrumb-item>-->
    </nz-breadcrumb>
    <div style="background-color: #fff;padding: 24px;min-height: 280px;" ><router-outlet></router-outlet></div>
  </nz-content>
  <nz-footer style="text-align: center;">ant </nz-footer>
</nz-layout>

