<h2>My Heroes</h2>
<label for="">Hero name: </label><input type="text" #heroName/>
<button (click)="add(heroName.value)">Add</button>
<div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero==selectedHero"><span class="badge">{{hero.id}}</span><span>{{hero.name}}</span>
      <button class="delete" (click)="delete(hero); $event.stopPropagation()">X</button>
    <!--除了调用组件的delete方法之外，这个删除按钮的点击处理器还应该阻止点击事件向上冒泡-我们并不希望被li的事件处理器被触发，否则他会选中我们要删除的这个英雄。-->
    </li>
  </ul>
</div>
<div *ngIf="selectedHero"><h2>{{selectedHero.name | uppercase}} is my hero</h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
